extends /templates/_layouts/master

block body
    .br-homepage
        .br-homepage-inner
            p
                img(src="images/bedrock-logo-black.svg")
            p Welcome to Bedrock. This is your homepage. Go to <code>/content/templates/index.pug</code> to find this file and start editing your project.
            p Hit Ctrl + M (or alternatively Ctrl + B) to view the page tree.