doctype html
html(dir="ltr" lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        title My Bedrock project

        link(rel="stylesheet" href="/css/main.css")

    body

        block body

        script(src='/js/bundle-client.js')

